
/* Global styles */
body {
background-color: #222;
color: #fff;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Header styles */
header {
background-color: #333;
padding: 20px;
text-align: center;
}

h1 {
font-size: 36px;
margin: 0;
color: #fff;
}

/* Navigation styles */
nav {
background-color: #2c3e50;
padding: 10px 0;
}

ul.navbar-nav {
display: flex;
justify-content: center;
align-items: center;
}

li.nav-item {
margin-right: 20px;
}

a.nav-link {
color: #fff;
text-decoration: none;
font-weight: bold;
}
#introduction {
    position: relative;

  }
  
  .bg-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3; /* Adjust the opacity as desired */
  }

  
  
/* Introduction styles */
.introduction {
background-color: #1e272e;
padding: 100px 0;
text-align: center;
}

.introduction h2 {
font-size: 36px;
margin-bottom: 20px;
color: #fff;
}

.introduction p {
font-size: 18px;
color: #ccc;
}

/* Product list styles */
.products {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 20px;
}

.product {
width: 300px;
background-color: #34495e;
margin: 20px;
padding: 20px;
border-radius: 5px;
text-align: center;
transition: transform 0.3s ease;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.product:hover {
transform: scale(1.05);
}

.product img {
width: 200px;
height: 200px;
margin-bottom: 10px;
object-fit: cover;
border-radius: 50%;
}

.product h3 {
font-size: 24px;
margin: 0;
color: #fff;
}

.product p {
color: #ccc;
margin-bottom: 0;
}

/* Pricing styles */
#product-price {
text-align: justify;
margin-top: 20px;
}

.features {
text-align: left;
margin-top: 10px;
padding-left: 0;
list-style-type: none;
}

.features li::before {
content: "✓ ";
color: #27ae60;
font-weight: bold;
}

.buy-button {
background-color: #27ae60;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.buy-button:hover {
background-color: #219653;
}

.popup {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
z-index: 9999;
overflow-y: scroll;
color: black;
}

.popup-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
max-width: 500px;
background-color: #fff;
padding: 20px;
border-radius: 5px;
text-align: center;
}

.popup h1 {
font-size: 24px;
margin-top: 0;
}

.popup p {
margin-bottom: 20px;
}

.popup label {
display: block;
margin-bottom: 10px;
}

.popup button {
padding: 10px 20px;
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

.popup button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

/* Footer styles */
footer {
background-color: #2c3e50;
padding: 20px;
text-align: center;
color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
/* Modify the styles for smaller screens */

/* Introduction styles */
.introduction {
 padding: 50px 0;
}

.introduction h2 {
 font-size: 30px;
}

.introduction p {
 font-size: 16px;
}

/* Product list styles */
.product {
 width: 100%;
 max-width: 400px;
 margin: 20px auto;
}

.product img {
 width: 150px;
 height: 150px;
}

.product h3 {
 font-size: 20px;
}

.product p {
 font-size: 14px;
}
}

